@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #07102d;
  color: white;
}

a {
  color: white;
  border-radius: 10px;
  padding: 8px;
  margin-top: 5px;
}

menu {
  color: #07102d;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.button {
  background-color: #07102d;
  border-radius: 10px;
  display: inline-block;
}

.sign-up-button {
  background-color: #07102d;
  border-radius: 10px;
  display: inline-block;
}

.sign-in-button {
  background-color: #07102d;
  border-radius: 10px;
  display: inline-block;
}

.email {
  color: white;
}

.password {
  color: white;
}

.password-confirmation {
  color: white;
}

.registration-button {
  background-color: white;
  border-radius: 10px;
}

.registration-button:hover {
  background-color: #07102d;
  border: 2px solid white;
  transition: 0.2s ease-in;
  color: white;
}

.registration-input {
  max-width: 600px;
}
.top-bar {
  background-color: white;
  color: black;
}

.top-bar,
a {
  color: black;
}

.home-link {
  color: black;
}

.play-now {
  text-align: center;
  font-size: 36px;
}

.play-now-header {
  color: white;
  font-weight: 500;
  font-size: 36px;
  border: 4px solid white;
  border-radius: 10px;
  padding: 8px;
  width: 100px;
}

.play-now-header:hover {
  border: 4px solid #07102d;
  background-color: white;
  color: #07102d;
  transition: 0.1s ease-in;
}

.categories-list {
  text-align: center;
  margin-top: 30px;
  font-size: 24px;
}

.categories-list-header {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}
.categories-list,
a {
  color: white;
  font-size: 24px;
}

.categories-list a:hover {
  border: 4px solid #07102d;
  background-color: white;
  color: #07102d;
  transition: 0.1s ease-in;
}
.categories-list,
p {
  font-size: 24px;
  font-weight: 500;
}

.human-avg-show {
  font-size: 20px;
  font-weight: 400;
  color: white;
  animation: 1s anim-lineUp ease-out;
}

.ai-avg-show {
  font-size: 20px;
  font-weight: 400;
  color: white;
  animation: 1s anim-lineUp ease-out;
}

.human-avg-percent {
  color: green;
  font-size: 32px;
  font-weight: 800;
}

.ai-avg-percent {
  color: red;
  font-size: 32px;
  font-weight: 800;
}

.answer-show {
  font-size: 24px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: wavy;
  animation: 0.8s anim-lineUp ease-out;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.human-vote-button {
  border-radius: 16px;
  font-size: 24px;
}

.ai-vote-button {
  border-radius: 16px;
  font-size: 24px;
}

.vote-select-human {
  background-color: #ea9027;
}
.human-vote-button:hover input {
  border: 2px solid #07102d;
  background-color: #ea9027;
  transition: 0.1s ease-in;
}

.vote-select-ai {
  background-color: #ea9027;
}

.ai-vote-button:hover input {
  border: 2px solid #07102d;
  background-color: #ea9027;
  transition: 0.1s ease-in;
}

.quiz-voting-area {
  display: flex;
  justify-content: space-around;
  height: 60px;

  .score-wrapper {
    width: 30px;
    height: 30px;
    p {
      font-size: 30pt;
      text-align: center;
    }
  }
  input {
    width: 100px;
    padding: auto;
    border-radius: 16px;
    transition: 1s ease out;
  }
}
.quiz-content {
  display: flex;
  padding: 20px;
}

.quiz-answer {
  text-align: center;
  font-size: 24px;
}
.quiz-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.quiz-image,
img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin: auto;
  margin-top: 25px;
  width: 500px;
  height: 500px;
  animation: 1.5s fadeIn ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.human-vote-button {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  padding: 5px;
}

.ai-vote-button {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: auto;
  padding: 5px;
}

.inline-list {
  margin-top: 25px;
}

.next-button {
  margin-top: 5px;
  color: #07102d;
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
  background-color: white;
}

.next-button:hover {
  background-color: #ea9027;
  border: 2px solid #07102d;
  transition: 0.2s ease-in;
}

.finish-category-button {
  display: block;
  margin-top: 30%;
  padding: 5px;
  font-size: 36px;
  border: 2px solid white;
  border-radius: 10px;
  width: 25%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.finish-category-button:hover {
  border: 4px solid #07102d;
  background-color: white;
  color: #07102d;
  transition: 0.2s ease-in;
}

.quiz-section {
  display: inline;
  justify-content: center;
  text-align: center;
}
.quiz-section-header {
  margin-top: 20px;
  font-size: 20px;
}

.home-logo {
  max-width: 200px;
  max-height: 200px;
  border: 8px dashed #ea9027;
  border-radius: 8px;
}

.home-logo:hover {
  border-radius: 50%;
  transition: 1.5s ease-in-out;
}

.unauthenticated-items-container {
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 50px;
  margin-top: 100px;
}

.home-page-register-header {
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 24px;
}
.home-page-or {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
}

.home-sign-up-link {
  background-color: white;
  color: #07102d;
  font-weight: 500;
  font-size: 24px;
  border-radius: 10px;
  padding: 8px;
  width: 100px;
}

.home-sign-in-link {
  background-color: white;
  color: #07102d;
  font-weight: 500;
  font-size: 24px;
  border-radius: 10px;
  padding: 8px;
  width: 100px;
}

.home-sign-up-link:hover {
  border: 4px solid #07102d;
  background-color: #ea9027;
  color: #07102d;
  transition: 0.1s ease-in;
}

.home-sign-in-link:hover {
  border: 4px solid #07102d;
  background-color: #ea9027;
  color: #07102d;
  transition: 0.1s ease-in;
}

.new-quiz-form-container {
  display: block;
  margin-top: 50px;
  align-content: center;
}

.new-quiz-form-container-header {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}

.quiz-form-add-image-button {
  color: white;
  font-weight: 500;
  font-size: 18px;
  border: 4px solid white;
  border-radius: 10px;
  padding: 8px;
  width: 120px;
  background-color: #07102d;
}

.quiz-form-add-image-button:hover {
  border: 4px solid #07102d;
  background-color: white;
  color: #07102d;
  transition: 0.1s ease-in;
}

.button-group {
  display: inline;
  justify-content: center;
}

.quiz-form-answer-label {
  color: white;
  font-size: 16px;
}

.quiz-form-answer-input-field {
  max-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.category-name-input {
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.category-description-input {
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.new-quiz-form-submit-button {
  color: white;
  font-weight: 500;
  font-size: 16px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 8px;
  width: 120px;
  background-color: #07102d;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.new-quiz-form-submit-button:hover {
  border: 2px solid #07102d;
  background-color: white;
  color: #07102d;
  transition: 0.1s ease-in;
}

.new-category-form-header {
  text-align: center;
  margin-top: 100px;
  font-size: 20px;
  font-weight: 400px;
}

.new-category-form-add-button {
  color: white;
  font-weight: 500;
  font-size: 18px;
  border: 4px solid white;
  border-radius: 10px;
  padding: 8px;
  width: 120px;
  background-color: #07102d;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.new-category-form-add-button:hover {
  border: 4px solid #07102d;
  background-color: white;
  color: #07102d;
  transition: 0.1s ease-in;
}

.new-category-name {
  text-align: center;
  color: white;
  margin-top: 10px;
  font-size: 16px;
}

.new-category-description {
  text-align: center;
  color: white;
  margin-top: 10px;
  font-size: 16px;
}
